@model IEnumerable<Leigos.Models.Servico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="Table-Form">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricacaoServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailPessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricacaoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailPessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServicoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServicoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
